@charset "utf-8";

.necessary {color:#ed1707;float:right;margin-right:4px}
/* Table Form - Additional CSS */
.table_input_vr input {width:300px}
.custom  span {display:inline-block;margin-right:13px}
.custom label {vertical-align:middle;width:50px}
.custom input {width:95px;vertical-align:middle;margin-left:10px;}
.btn_ly {height:15px !important}

/* Image Summary */
.img_url_summary {display:inline-block}
.img_url_summary li {margin-bottom:5px}
.img_url_summary li img {width:20px;height:auto;border:1px solid #ccc;display:inline-block;vertical-align:middle;margin-right:10px}
.img_url_summary span {margin-right:10px}
.img_url_summary span a {text-decoration:underline}
.del_btn img {width:14px !important;height:13px !important;border:none !important;display:inline-block}

/* Add Popup */

.sub_title {position:absolute;top:26px;left:25px;z-index:9999;background:#606060;padding:5px 15px;height:24px;border:1px solid #d5d5d4;border-bottom:0 !important;display:inline-block;background:#fff}
.sub_title span {font-size:14px;font-style:italic;color:#444}
.add_form_wrap {width:100%;background:#fff;text-align:center;border:1px solid #d5d5d4;display:inline-block}
.add_form_wrap form.fancybox_add {width:94%;padding:0 3px;background:#fff;display:inline-block;text-align:center}
.add_form_wrap form table.table_input_vr {margin-top:20px;width:100% !important}
.add_form_wrap form table.table_input_vr tr td input {width:98% !important;padding:0 !important}
.add_form_wrap form table.table_input_vr tr td textarea {width:98% !important;padding:0 !important}

.modi_img_wrap {width:28%;height:150px;margin-right:20px;float:left;border:1px solid #d5d5d4}
.image_detail_wrap {width:69%;float:left}

.mod_btn {width:100%;display:inline-block;text-align:center}
.mod_btn .btn_popup_fix {display:inline-block}

#imageURL {word-wrap:break-word}

/* Search */
.table_header_area .search .input_text, .table_header_area .search .btn_nor_01 {margin:0 !important}